@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
  background-color: #141414;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.card {
  background-color: #1f1f1f;
  padding: 35px;
  border-radius: 10px;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: all 0.3s ease-in-out;
}
.back{
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%; 
    display: none; 
}
.back i {
    font-size: 15px;
    color: #ffffff;
}

.img {
  border-radius: 50%;
  overflow: hidden;
  width: 150px;
  height: 150px;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.name {
  font-size: 30px;
  font-weight: bold;
}
p{
    font-size: 17px;
    /* text-align: center; */

}


button{
    width: 100%;
    padding: 10px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    background-color: #4caf50;
    font-weight: 500 ;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 900px){
    .card{
        width: 80vw;

    }

    
 
}

@media (max-width: 500px){
    .card{
        width: 90vw;
        padding: 25px;
    }
    .img{
        width: 100px;
        height: 100px;
    }
    button{
        font-size: 16px;
        border-radius: 5px;
    }
    p{
        font-size: 14px;
    }
    .back{
        width: 30px;
        height: 30px;
        top: 20px;  
        left: 20px;  
    }
    .name{
        font-size: 25px;
    }


}